openapi: 3.0.3
info:
  title: Swagger Codejavu - OpenAPI 3.0
  description: >-
    api list for codejavu 
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
servers:
  - url: http://codejavu.com/api/v1
tags:
  - name: snippet
    description: Snippet properties
  - name: language
    description: language properties
  - name: tag
    description: tag properties
  - name: user
    description: Operations about user
  - name: group
    description: info about group
  - name: share
    description: info about group
paths:
  /snippet:
    post:
        tags:
          - snippet
        summary: Create snippet (authentication required)
        description: Creqate a new snippet
        operationId: createSnippet
        requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnippetInsert'
          required: true
        responses:
          '200':
            description: Successful operation
          '405':
            description: Invalid input
        security:
          - JWTAuth: []
  /snippet/{snippetUUID}:
    get:
      tags:
        - snippet
      summary: Retrieve snippet (authentication required)
      description: retrieve a snippet by uuid
      operationId: getSnippet
      parameters:
        - name: snippetUUID
          in: path
          description: snippet UUID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snippet'
        '404':
          description: Snippet not found
      security:
        - JWTAuth: []
    put:
      tags:
        - snippet
      summary: Update snippet (authentication required)
      description: Update an existing snippet by uuid
      operationId: updateSnippet
      parameters:
        - name: snippetUUID
          in: path
          description: snippet Id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Snippet'
          application/xml:
            schema:
              $ref: '#/components/schemas/Snippet'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Snippet'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Snippet'
        '400':
          description: Invalid ID supplied
        '404':
          description: Snippet not found
        '405':
          description: Validation exception
      security:
      - JWTAuth: []
    delete:
      tags:
        - snippet
      summary: Delete a snippet (authentication required)
      description: Delete a snippet by uuid
      operationId: removeSnippet
      parameters:
        - name: snippetUUID
          in: path
          description: snippet uuid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '404':
          description: Snippet not found
      security:
        - JWTAuth: []
  /snippets:
    get:
      tags:
        - snippet
      summary: Retrieve snippets information (authentication required)
      description: Finds own Snippets
      operationId: getAllOwnSnippets()
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SnippetInfo'
        '400':
          description: Invalid status value
      security:
        - JWTAuth: []
  /language:
    get:
      tags:
        - language
      summary: Retrieve languages (authentication required)
      description: Get all available languages of the sytem
      operationId: getLanguages
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Language'
      security:
        - JWTAuth: []
    post:
      tags:
        - language
      summary: Add language (system admin only)
      description: Add new languages to the system
      operationId: addLanguage
      requestBody:
        description: Add list of new languages to the system
        content:
                  application/json:
                    schema:
                      type: array
                      items:
                        $ref: '#/components/schemas/Language'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Language'
        '405':
          description: Invalid input
      security:
        - JWTAuth: []
  /tag:
    get:
      tags:
        - tag
      summary: Retrieve resource (authentication required)
      description: Get all available tags
      operationId: getTags
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
      security:
      - JWTAuth: []
    post:
      tags:
          - tag
      summary: Add resource (authentication required)
      description: Add new tags
      operationId: addTag
      requestBody:
        content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/TagInsert'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '405':
          description: Invalid input
      security:
      - JWTAuth: []
  /user:
    post:
      tags:
        - user
      summary: Create user
      description: This can only be done by the logged in user.
      operationId: createUser
      requestBody:
        description: Created user object
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/xml:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        default:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
  /user/login:
    post:
      tags:
        - user
      summary: Logs user into the system
      description: ''
      operationId: loginUser
      requestBody:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
      responses:
        '200':
          description: successful operation
          headers:
            X-Rate-Limit:
              description: calls per hour allowed by the user
              schema:
                type: integer
                format: int32
            X-Expires-After:
              description: date in UTC when token expires
              schema:
                type: string
                format: date-time
          content:
            application/xml:
              schema:
                type: string
            application/json:
              schema:
                type: string
        '400':
          description: Invalid username/password supplied
  /user/logout:
    get:
      tags:
        - user
      summary: Logs out current logged in user session
      description: ''
      operationId: logoutUser
      parameters: []
      responses:
        default:
          description: successful operation
  /user/{username}:
    get:
      tags:
        - user
      summary: Get user by user name
      description: ''
      operationId: getUserByName
      parameters:
        - name: username
          in: path
          description: 'The name that needs to be fetched. Use user1 for testing. '
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Invalid username supplied
        '404':
          description: User not found
    put:
      tags:
        - user
      summary: Update user
      description: This can only be done by the logged in user.
      operationId: updateUser
      parameters:
        - name: username
          in: path
          description: name that need to be deleted
          required: true
          schema:
            type: string
      requestBody:
        description: Update an existent user in the store
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          application/xml:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        default:
          description: successful operation
    delete:
      tags:
        - user
      summary: Delete user
      description: This can only be done by the logged in user.
      operationId: deleteUser
      parameters:
        - name: username
          in: path
          description: The name that needs to be deleted
          required: true
          schema:
            type: string
      responses:
        '400':
          description: Invalid username supplied
        '404':
          description: User not found
  /group/{groupId}:
    get:
      tags:
        - group
      summary: Retrieve information of group (authentication required)
      description: Find group info
      operationId: getGroup()
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '403':
          description: Unauthorized if not group member or owner
      security:
        - JWTAuth: []
    put:
      tags:
        - group
      summary: Retrieve information of group (authentication required)
      description: Find group info
      operationId: updateGroup()
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '403':
          description: Unauthorized if not group member or owner
      security:
        - JWTAuth: []
    delete:
      tags:
        - group
      summary: Retrieve information (authentication required)
      description: Find group info
      operationId: removeGroup()
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
             application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '403':
          description: Unauthorized if not group member or owner
      security:
        - JWTAuth: []
  /group/snippet/{groupId}:
    get:
      tags:
        - group
      summary: Retrieve resource (authentication required)
      description: Get snippet related to the group
      operationId: getGroupSnippet(groupId)
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SnippetInfo'
        '400':
          description: Invalid status value
      security:
        - JWTAuth: []
    post:
      tags:
        - group
      summary: Add snippet(s) to the group resource (authentication required)
      description: Add snippet(s) to the group
      operationId: addGroupSnippet(groupId)
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  snippet_ids:
                    type: array
                    items:
                      type: integer

          required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
        
        '403':
          description: Unauthorized
      security:
        - JWTAuth: []
    put:
      tags:
        - group
      summary: Add resource (authentication required)
      description: Add snippet to the group
      operationId: updateGroupSnippet(groupId)
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
          content:
            application/json:
              schema:
                type: object
                properties:
                  snippet_ids:
                    type: array
                    items:
                      type: integer

          required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
        
        '403':
          description: Unauthorized
      security:
        - JWTAuth: []
  /group/member/{groupId}:
    get:
      tags:
        - group
      summary: Retrieve group members resource (authentication required)
      description: Get all group members
      operationId: getGroupMember(groupId)
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
        '400':
          description: Invalid status value
      security:
        - JWTAuth: []
    post:
      tags:
        - group
      summary: Add member(s) to the group (authentication required)
      description: Add member to the group
      operationId: addGroupMember()
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
          required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
        
        '403':
          description: Unauthorized
      security:
        - JWTAuth: []
    put:
      tags:
        - group
      summary: Add resource (authentication required)
      description: Add snippet to the group
      operationId: updateGroupMember(groupId)
      parameters:
        - name: groupId
          in: path
          description: group id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
          required: true
      responses:
        '200':
          description: successful operation
        '400':
          description: Invalid status value
        
        '403':
          description: Unauthorized
      security:
        - JWTAuth: []
  /group/info:
    get:
      tags:
        - group
      summary: Retrieve groups ids associated with the user resource (authentication required)
      description: Get all associated group info separately owned and member of that groups.
      operationId: getGroupInfo()
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    owned:
                      type: array
                      items:
                        type: integer
                    member:
                      type: array
                      items:
                        type: integer
                        
        '400':
          description: Invalid status value
      security:
        - JWTAuth: []
  /snippet/share/{snippetUUID}/{userId}:
    post:
      tags:
        - share
      summary: Share snippet to a user (authentication required)
      description: Add member to the group
      operationId: shareSnippetToUser()
      parameters:
        - name: snippetUUID
          in: path
          description: snippet uuid
          required: true
          schema:
            type: integer
            format: int64
        - name: userId
          in: path
          description: user id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
          required: true
      responses:
        '200':
          description: successful operation
          content:
             application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid status value
        
        '403':
          description: Unauthorized
      security:
        - JWTAuth: []
    delete:
      tags:
        - share
      summary: revoke share snippet to a user (authentication required)
      description: revoke share a snippet to the user
      operationId: removeShareSnippetToUser()
      parameters:
        - name: snippetUUID
          in: path
          description: snippet uuid
          required: true
          schema:
            type: integer
            format: int64
        - name: userId
          in: path
          description: user id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: successful operation
          content:
             application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '400':
          description: Invalid status value
        
        '403':
          description: Unauthorized
      security:
        - JWTAuth: []

components:
  schemas:
    Snippet:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        snippet:
          type: string
          description: code snippet as text
          example: "#include<stdio.h>"
        shared_type:
          type: integer
          description: Snippet access is private, public or group. 0 for Private, 1 for Public, 2 for Group
          example: 0
          enum:
            - 0
            - 1
            - 2
        language_id:
          type: integer
          format: int64
          example: 10
        uuid:
          type: string
          description: unique uuid v4 for snippet url
          example: "550e8400-e29b-41d4-a716-446655440000"
        tags:
          type: array
          items:
            $ref: '#/components/schemas/Tag'
        urls:
          type: array
          items:
            $ref: '#/components/schemas/Url'
          
      xml:
        name: snippet
    SnippetInsert:
      type: object
      properties:
        user_id:
          type: integer
          format: int64
          example: 10
        snippet:
          type: string
          description: code snippet as text
          example: "#include<stdio.h>"
        shared_type:
          type: integer
          description: Snippet access is private, public or group. 0 for Private, 1 for Public, 2 for Group
          example: 0
          enum:
            - 0
            - 1
            - 2
        language_id:
          type: integer
          format: int64
          example: 10
        tag_ids:
          type: array
          items:
            type: integer
            format: int64
          example: [1,4,6]
        urls:
          type: array
          items:
            type: string
          example: [ "www.sawd.2r", "www.stackunderflow.com"]
      xml:
        name: snippet
    SnippetInfo:
      type: object
      properties:
        uuid:
          type: string
          description: unique uuid v4 for snippet url
          example: "550e8400-e29b-41d4-a716-446655440000"
        user_id:
          type: integer
          format: int64
          example: 10
        shared_type:
          type: integer
          description: Snippet access is private, public or group. 0 for Private, 1 for Public, 2 for Group
          example: 0
          enum:
            - 0
            - 1
            - 2
        language_id:
          type: integer
          format: int64
          example: 10
        tag_ids:
          type: array
          items:
            type: integer
            format: int64
          example: [1,3,5]
        date_time:
          type: string
          format: date-time
          example: "2023-09-18T14:30:00Z"
      xml:
        name: snippetInfo
    Language:
      type: object
      properties:
        id:
          type: integer
          format: int64
          example: 10
        language:
          type: string
          description: available language name
          example: 'Python'
      xml:
        name: snippetInfo
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        tag:
          type: string
          example: "Image Processing"
      xml:
        name: tag
    Url:
      type: object
      properties:
        id:
          type: integer
          format: int64
        url:
          type: string
          example: "hhttp://sacwc.cos/awd"
        snippet_id: 
          type: integer
          format: int64
          example: 10
      xml:
        name: url
    TagInsert:
      type: object
      properties:
        tag:
          type: array
          items:
            type: string
          example: ["Image Processing", "Artificial Intelligence"]
        user_id:
          type: integer
          format: int64
      xml:
        name: tagInsert
    Group:
      type: object
      properties:
        group_id:
          type: integer
          format: int64
          example: 2
        group_name:
          type: string
          example: veica
      xml:
        name: group
    User:
      type: object
      required:
        - email
        - password
      properties:
        id:
          type: integer
          format: int64
          example: 10
        email:
          type: string
          example: john@email.com
        password:
          type: string
          example: '12345678'
      xml:
        name: user
    ApiResponse:
      type: object
      properties:
        code:
          type: integer
          format: int32
        type:
          type: string
        message:
          type: string
  securitySchemes:
    JWTAuth:
        type: apiKey
        name: Authorization
        in: header
        description: Use a valid JWT token as the value. Prefix it with "Bearer ".
